img.satbnner {
    width: 100%;
    max-width: 100%;
    margin-top: 65px;
}

.satID-1 {
    background: #fff;
    padding: 0px 0px 40px 0px;
}

.satID-2 {
    background: #fff;
    padding: 0px 0px 40px 0px;
}

.bookingformmain .new-class-heading{
    color: #fff!important;
}

p.bannerbtnbl a {
    color: #fff;
}

.satID-1 .new-class-heading {
    margin: 0rem 0rem 1.5rem 0!important;
    text-align: center;
    font-weight: 700;
    line-height: 1.25;
    font-size: 1.9rem;
    color: #000;
    font-family: "Lato","Helvetica","Arial",sans-serif!important;
}

.satID-2 .new-class-heading {
    margin: 0rem 0rem 1.5rem 0!important;
    text-align: center;
    font-weight: 700;
    line-height: 1.25;
    font-size: 1.9rem;
    color: #000;
    font-family: "Lato","Helvetica","Arial",sans-serif!important;
}

.frsttxt {
    padding: 45px 0px;
}

p.heddesc {
    opacity: 0.8;
    margin-bottom: 0.5rem;
}

li.fvlnetxt {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7rem;
}

.upcmngls.twoicnsl .icnimgt {
    text-align: center;
    padding: 30px 0px;
}

section.landingVideo {
    /*padding: 280px 0px 0px 0px;*/
    text-align: center;
}

.satID-1 .bkngsec {
    padding-top: 15px!important;
}

.bookingformmain {
    background: #191c21;
}

.satID-2 .bkngsec {
    padding-top: 15px!important;
}

.bookform {
    background: #191c21;
    padding: 10px 70px 85px 70px;
}

.bookform label {
    font-size: 13px;
    margin-left: 5px;
    color: #fff;
    font-weight: 600;
    opacity: 0.6;
}

.booksbmt {
    float: right;
    margin-top: 20px;
}

.satID-1 .banner-cont h5 {
    margin-bottom: 0.1rem!important;
    opacity: 0.8 !important;
    color: #fff;
    font-weight: 700;
    line-height: 8!important;
    font-size: 1.0rem;
    letter-spacing: 0.03em;
}

.satID-2 .banner-cont h5 {
    color: #000;
}

.satID-2 .banner-cont h5 {
    margin-bottom: 0.1rem!important;
    opacity: 0.8 !important;
    color: #fff;
    font-weight: 700;
    line-height: 8!important;
    font-size: 1.0rem;
    letter-spacing: 0.03em;
}

.satID-1 .heros-sections img {
    opacity: 0.5;
}

.satID-2 .heros-sections img {
    opacity: 0.5;
}

.satID-1 .banner-cont h1 {
    color: #e6a851;
    max-width: 650px;
}

.satID-2 .banner-cont h1 {
    color: #e6a851;
    max-width: 650px;
}

.satID-2 .Sliders {
    background: #000000;
}

.satID-1 .Sliders {
    background: #000000;
}

.satID-1 .bnnrhedsndlne {
    font-size: 22px;
    color: #ffffff;
}