img.satbnner {
    width: 100%;
    max-width: 100%;
}

button.btn.btn-danger.booksbmt {
    background: #c83232;
    border-color: #c83232;
}

.satID-1 {
    background: #fff;
    padding: 0px 0px 40px 0px;
}

.satID-2 {
    background: #fff;
    padding: 0px 0px 40px 0px;
}

.bookingformmain .new-class-heading{
    color: #fff!important;
}

p.bannerbtnbl a {
    color: #fff;
}

.frsttxt {
    padding: 45px 0px;
}

p.heddesc {
    opacity: 0.8;
    margin-bottom: 0.5rem;
}

.upcmngls.twoicnsl .icnimgt {
    text-align: center;
    padding: 30px 0px;
}

section.landingVideo {
    /*padding: 280px 0px 0px 0px;*/
    text-align: center;
}

.satID-1 .bkngsec {
    padding-top: 15px!important;
}

.bookingformmain {
    background: #000000;
}

.satID-2 .bkngsec {
    padding-top: 15px!important;
}

.bookform label {
    font-size: 13px;
    margin-left: 5px;
    color: #fff;
    font-weight: 600;
    opacity: 1;
    font-family: "Lato", Helvetica, Arial, sans-serif!important;
}

.booksbmt {
    float: right;
    margin-top: 20px;
}

/*.satID-2 .banner-cont h5 {
    margin-bottom: 0.1rem!important;
    opacity: 0.8 !important;
    color: #fff;
    font-weight: 700;
    line-height: 8!important;
    font-size: 1.0rem;
    letter-spacing: 0.03em;
}*/

.satID-1 .heros-sections img {
    opacity: 0.5;
}

.satID-2 .heros-sections img {
    opacity: 0.5;
}

.satID-2 .Sliders {
    background: #000000;
}

.satID-1 .Sliders {
    background: #000000;
}

.upcmnglsv iframe#sing_vd {
    max-height: 100%;
}

.testvideo iframe#sing_vd {
    height: 564px;
    max-height: 100%;
}

/*.satID-1 .bnnrhedsndlne {
    font-size: 22px;
    color: #ffffff;
}*/













/*@media only screen and (max-width: 600px) {

    

    .bookform {
		background: #000000;
		padding: 10px 0px 85px 0px;
    }
    
    .upcmnglsv iframe#sing_vd {
        height: 100%;
        max-height: 100%;
    }

    .testvideo iframe#sing_vd {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
    }

    .satID-1 .banner-cont p.bannerbtnbl {
		padding: 0.5rem 0.8rem;
	}

	.satID-2 .banner-cont p.bannerbtnbl {
		padding: 0.5rem 0.8rem;
    }
    
    .satID-1 .banner-cont h1 {
		line-height: 20px;
	}

	.satID-2 .banner-cont h1 {
		line-height: 20px;
	}

	.satID-1 .banner-cont h5 {
		line-height: 0.1;
	}

	.satID-2 .banner-cont h5 {
		line-height: 0.1;
	}

}*/