    .userdm {
    width: 600px;
    height: auto;
    display: block;
    margin: auto;
    background: #fff;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    font-family: Lato, Helvetica, Arial, sans-serif!important;
    }

    h4#modalheadingfa {
        width: 100%!important;
        text-align: center;
        font-weight: 700;
        line-height: 1.25;
        font-size: 1.5rem;
        font-family: Lato,Helvetica,Arial,sans-serif;
        color: #000!important;
    }

    button.close {
        cursor: pointer!important;
    }